<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giris yap</title>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link rel="icon" href="images/education.png">
    <style>
        body{
            background-color: #eeeeee;
        }
        .wrapper{
            margin: 80px;
        }
        .form-signin{
            max-width: 380px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 15px 40px 50px;
            border: 1px solid #e5e5e5;
            border-radius: 10px;
        }
        .form-signin .form-signin-heading{
            margin-bottom: 30px;
        }
        .form-signin input[type="text"], .form-signin input[type="password"]{
            margin-bottom: 15px;
        
        }
        .form-signin .form-control{
            padding: 22px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        
        <form class="form-signin" action="/" method="POST">
            <h2 class="form-signin-heading text-center">Başarılı</h2>

            <div class="text-center">
                <img src="../images/check.png" width="50%">
            </div>
            


            <br>
            <br>

            <div class="d-inline"><p>Hesabınız Başarı ile Oluşturuldu <a class="bg-light" onclick="location.href='../'">Giriş Yap</a></p></div>
            </form>
            

            
   

           
            
    </div>
</body>
</html>