<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Ana Sayfa</title>
  <link href="../images/education.png" rel="icon">
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/simple-sidebar.css" rel="stylesheet">

  <style>
    #image{
      width: 30%;
      align-items: center;
      text-align: center;
      position: relative;
      margin: 0px auto;
    }
    .d-center{
      width: 100%;
      align-items: center;
      text-align: center;
      margin: 0px auto;

    }
    #welcome-label{
      font-size: 200%;
      color: #3e3e3e;
    }


  </style>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Öğrenci Sistemi</div>
      <div class="list-group list-group-flush">
        <a href="dashboard" class="list-group-item list-group-item-action bg-light"  style="font-weight: 800;">Ana Sayfa</a>
        <a href="exams" class="list-group-item list-group-item-action bg-light" >Sınavlar</a>
        <a href="results" class="list-group-item list-group-item-action bg-light">Notlar</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->



    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
       

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link"><%= user.firstname+" "+user.surname +"  "%><button  id="logoutBtn" class="btn btn-danger">Log out </button></a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid" id="MainContainer">
        <h1 class="mt-4">Ana Sayfa</h1>
        <div>

          <div style="float: left;">
            <br>
            <br>
            <code>#Developer: </code> <p>Burhan Cabiroglu</p>
            <code>#Student No: </code> <p>05170000804</p>
          </div>
          <div id="image"><img src="../images/education.png" width="70%"></div>
          
          </div>
        <br>
        <br>
        <div class="d-center">
          <p id="welcome-label" class="text-secondary">Merhaba, Online ders sistemine hoş geldiniz.</p>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <script type="text/javascript" src="../css/script.js"></script>

</body>

</html>